.navbar-toggle{
    float: left;
    margin-left: 10px;
}

@media(min-width:782px)
{
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
}

.new-avatar{
    width: 3rem;
    height: 3rem;
    background-image: url('/assets/profile0.png')!important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: none;
    border-radius: 50%;
    top: 1.25rem;
    margin-right: .25rem;
    cursor: pointer!important;
}
